//#region colors
$color-1: #7b47d8;
$color-2: #5a2ba0;
$color-3: #dbacec;
$color-4: #cf38c6;
$color-5: #88b1d9;
$color-6: #3d1a77;
$color-7: #f6eff5;
$color-8: #ca64e2;
$color-9: #15092d;
$color-10: #7f2f69;
$color-11: #2b115b;
$color-12: #4c1c57;
$color-13: #09080e;
$color-14: #e08962;
$color-15: #1f0b47;
$color-16: #4a5e6c;
//#endregion